html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~Styling starts here~~~~~*/
/* *{
    border: 1px solid black;
} */
body {    
background-color: #6D6875;
}
header {
    background-color: #FFCDB2;
    background: linear-gradient(to bottom, #B38D97 0%, #FFB4A2 100%);
    padding: 1% 0;
}
div .header-icon {    
    width: 100%;
    height: 4rem;
    text-align: center;
    margin: 1 38%;
}
nav{    
    text-align: center;
}
nav .links {
    display: flex;
    justify-content: space-between;
    margin: 0 25%;
    text-align: center;
    font-size: 1.5rem;
}
.links a{
    padding: 0 1%;
}
.title-section {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: url('images/jeremy-bishop-QHZn3-0bbEM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title-section h1{
    align-items: center;
    font-size: 4rem;
}
.title-section h3{
    align-items: center;
    font-size: 1.1rem;
    margin-top: 0.5%;
}
.title-text{
    text-align: center;
    padding-top: 4%;
    color: white;    
    text-shadow: 1px 1px black;
}
.photo-section {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 10%;
    width: 80%;
    padding-top: 1%;
    text-align: center;
    background-color: rgb(47, 47, 47);
    color: white;
}
.photoGrid {
    display: flex;
    flex-wrap: wrap;
    width: 22%;
    justify-content: center;
    margin: 1% auto;
}
.photoGrid img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 4%;
}
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    background-color: #E5989B;
}
.footer-div {
    height: 3%;
    width: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.icons{    
    all: initial;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.icons img{
    display: flex;
    justify-content: space-evenly;
    background-color:#E5989B;
    width: 80%;
}
a {
    text-decoration: none;
}

@media (min-width: 100px) {
    .photoGrid {
        width: 100%;      
    }
}
@media (min-width: 576px) {
    .photoGrid {
        width: 100%;      
    }
}
@media (min-width: 768px) {
    .photoGrid {
        width: 50%;      
    }
}
@media (min-width: 992px) {
    .photoGrid {
        width: 25%;      
    }
}
@media (min-width: 1200px) {
    .photoGrid {
        width: 25%;      
    }
}