html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~Styling starts here~~~~~*/
/* *{
    border: 1px solid black;
} */
body {    
background-color: #6D6875;
}
header {
    background-color: #FFCDB2;
    background: linear-gradient(to bottom, #B38D97 0%, #FFB4A2 100%);
    padding: 1% 0;
}
div .header-icon {    
    width: 100%;
    height: 4rem;
    text-align: center;
    margin: 1 38%;
}
nav{    
    text-align: center;
}
nav .links {
    display: flex;
    justify-content: space-between;
    margin: 0 25%;
    text-align: center;
    font-size: 1.7rem;
}
.links a{
    padding: 0 1%;
    color: white;
    text-shadow: 1px 1px maroon;    
}
.links a:hover{
    color: maroon;
    text-shadow: 1px 1px white;
}
.title-section {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: url('images/jeremy-bishop-QHZn3-0bbEM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title-section h1{
    align-items: center;
    font-size: 4rem;
    margin-top: 8%;
    padding-left: 1.1%;
    text-shadow: 3px 3px black;
}
.title-section h3{
    align-items: center;
    font-size: 1.3rem;
    margin-top: 0.5%;
    padding-left: 1.1%;
    text-shadow: 1px 1px black;
}
.title-text{
    text-align: center;
    padding-top: 4%;
    color: white;    
}
.photo-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.photo-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    background-color: rgb(47, 47, 47);
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    grid-column-gap: 1rem;
    padding: 2% 0 1.5% 0;
}
.flip-card {
    display: flex;
    background-color: transparent;
    max-width: 20vh;
    max-height: 30vh;
    object-fit: contain;
    border: 2px solid white;
    perspective: 40rem;
    margin: 1% 0 3% 0;
  }
  .flip-card-front > img{
    max-width: 100%;
    height: auto;
}  
  .flip-card-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20vh;
    height: 30vh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20vh;
    height: 30vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(85, 80, 80);
    color: white;
    transform: rotateY(180deg);
    padding-top: 50%;
  }
  .flip-card-front p{
      color: white;
  }
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    background-color: #c4787b;
}
.footer-div {
    height: 3%;
    width: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer-div a{
    color: white;
    text-shadow: 1px 1px maroon;
}
.footer-div a:hover{
    color: maroon;
    text-shadow: 1px 1px white;
}
.icons{
    color:#FF0000;
    all: initial;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.icons img{
    display: flex;
    justify-content: space-evenly;
    background-color:#c4787b;
    width: 80%;
}
a {
    text-decoration: none;
}
h5{
    font-size: 1.2rem;
    color: blue;
    font-weight: bold;
}
@media (min-width: 100px){
        .photo-section{
            flex-direction: column;
            grid-template-columns: auto;
        }
    }

@media (min-width: 500px) {
    .photo-section{
        flex-direction: column;
        grid-template-columns: auto auto;
    }
}
@media (min-width: 1000px) {
    .photo-section{
        grid-template-columns: auto auto auto auto;
    }    
}

/*~~~~~~~About Section Styling~~~~~~~ */

.about-description{
    text-align: center;
    width: 70%;
    padding: 1% 15%;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(88, 105, 156, 0.589);
}
.staff{    
    text-align: center;
    width: 70%;
    padding: 1% 15%;
    font-size: 3.2rem;
    letter-spacing: 0.8rem;
    color: white;    
    text-shadow: 1px 1px black;
    text-decoration: underline;
}
.about-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}
.about-pic{
    width: 35%;
    display: flex;
    align-items: center;
}
.about-bio{
    width: 45%;    
    align-items: center;
    padding: 5% 10%;
    text-align: center;
}
.about-section img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.about-section h3{
    font-size: 2.3rem;
    color: white;
    text-shadow: 1px 1px black;
}
.about-section h4{
    font-size: 1.2rem;
    text-decoration:underline;
    padding: 2px;
    font-family: DauphinPlain;
}
.about-section p, ul{
    font-size: 2vw;
    margin-top: 1%;
}

/*~~~~~~~FAQ Section Styling~~~~~~~ */
.QnA {
    text-align: center;
}
.QnA p{
    font-size: 2rem;
}
.QnA ul{
    font-size: 1.2rem;
}

/*~~~~~~~Contact Section Styling~~~~~~~ */

.contact-div {
    height: 12vh;
    text-align: center;
    padding-top: 5%;
}
.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.contact-icons p{
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px black;
}